@import "./assets/colors";
@import "./assets/fonts";
.App {
  max-width: 1920px;
  margin: 0 auto;
  background-color: $offWhite;
  color: $almostBlack;
  font-family: $Poppins;
  font-weight: $regular;
}
