@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400;600;700&family=Nunito+Sans:wght@300;400;600;700&family=Poppins:wght@300;400;600;700&display=swap");

$IBMPlexSerif: "IBM Plex Serif", serif;
$Poppins: "Poppins", sans-serif;
$NunitoSans: "Nunito Sans", sans-serif;

$light: "300";
$regular: "400";
$semiBold: "600";
$bold: "700";
